@model IEnumerable<M7_Project_05.Models.Product>
@{
    ViewBag.Title = "Product";
}


<h2>Product of @ViewBag.ProductTypes</h2>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(x => x.ProductId)</th>
            <th>@Html.DisplayNameFor(x => x.ProductName)</th>
            <th>@Html.DisplayNameFor(x => x.Price)</th>
            <th>@Html.DisplayNameFor(x => x.PurchaseDate)</th>
            <th>@Html.DisplayNameFor(x => x.Stock)</th>          
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => c.ProductId)</td>
                <td>@Html.DisplayFor(x => c.ProductName)</td>
                <td>@Html.DisplayFor(x => c.Price)</td>
                <td>@Html.DisplayFor(x => c.PurchaseDate)</td>
                <td>@Html.DisplayFor(x => c.Stock)</td>               
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Back to Product-Type List", "Index")
